# App Configurations (FastAPI)
APP_ENV="development"  # Change to production in production
APP_HOST="0.0.0.0"
APP_PORT=8000
APP_WORKERS=4
APP_SECRET_KEY="c0dc98490a9540f239ecff8587bc93e83bb3ab1bf56cb983141ac19e8dd3bb2f"
APP_ALLOWED_HOSTS="https://i-tips.local, http://127.0.0.1:3000, http://localhost:3000, http://0.0.0.0:3000"
APP_CONTAINER="i-tips-backend"
APP_NETWORK="i-tips-network"
APP_LOG_PATH="/logs"
APP_LOG_LEVEL="INFO"   
APP_LOG_VOLUME="i-tips-logs"
APP_TIMEZONE="Asia/Kolkata"
APP_LANGUAGE_CODE="en-us"
APP_DATABASE_URL="postgresql+asyncpg://i_tips_user:i_tips_password@i-tips-db:5432/i_tips_db"

# Database Configuration (PostgreSQL)
DB_NAME="i_tips_db"
DB_USER="i_tips_user"
DB_PASSWORD="i_tips_password"
DB_CONTAINER="i-tips-db"
DB_VOLUME="i-tips-db-volume"

# Email Settings (if applicable for user registration or notifications)
SMTP_SERVER="smtp.yourmailserver.com"
SMTP_PORT=5879
SMTP_USERNAME="username"
SMTP_PASSWORD="your_email_password"
SENDER_EMAIL="noreply@yourdomain.com"

# PG Admin Configuration
PGADMIN_DEFAULT_EMAIL="admin@i-tips.dev"
PGADMIN_DEFAULT_PASSWORD="admin@i-tips.dev"
PGADMIN_SERVER_PORT=8090
PGADMIN_CONTAINER="i-tips-pgadmin"

# Redis Configuration
REDIS_CONTAINER="i-tips-redis"
REDIS_PORT=6379
REDIS_VOLUME="i-tips-redis-volume"

# InfluxDB Configuration
INFLUX_CONTAINER="i-tips-influxdb"
INFLUX_PORT=8086
INFLUX_VOLUME_DATA="i-tips-influxdb-data"
INFLUX_VOLUME_CONFIG="i-tips-influxdb-config"

DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=admin123
DOCKER_INFLUXDB_INIT_ORG=tei
DOCKER_INFLUXDB_INIT_BUCKET=plc_raw
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=tei-admin-token-rotate

# Grafana Configuration
GRAFANA_CONTAINER="i-tips-grafana"
GRAFANA_PORT=3004
GRAFANA_VOLUME="i-tips-grafana-data"
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
TELEGRAF_CONTAINER = "i-tips-telegram"